$blue: #3a57b9;
$sapphire_blue: #071a5a;
$grey: #b3aa99;
$dark_grey: #43464e;
$white: #dadada;
$yellow: #d4af37;

$card_link_color: $blue;
$card_link_color__hover: #22346f;
$card_header_color: $dark_grey;
$card_text_color: $dark_grey;

$header_height: 6rem;
$header_height_mobile: 4rem;
$footer_height: 10rem;
