@import "./variables.scss";

body {
  font-family: sans-serif;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-family: sans-serif;
  // font-family: $font-BeVietnamPro-Bold;

  // font-weight: 100;
  // font-style: normal;
  // font-stretch: normal;
  // line-height: initial;

  font-weight: thin;
  // font-style: normal;
  // font-stretch: normal;
  // line-height: initial;
  // font-size: 48px;
}

.bm-overlay {
  // background: purple;
  // right: 100px;
}

.bm-menu {
  background-color: $dark_grey;
}

.bm-burger-button {
  // left: 0;
  // right: 36px;
}

.bm-item-list {
  a {
    color: $yellow;

    &:hover {
      color: $white;
    }
  }
}

.bm-burger-bars {
  background-color: $yellow;
}

.page {
  padding-top: $header_height;
  min-height: calc(100vh - $header_height - $footer_height);
}

.overflow-hidden {
  overflow: hidden;
}
