$light_grey: #939493;
$grey: #808081;
$dark_grey: #363635;
$white: #dadada;
$yellow: #b99e33;

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.bm-overlay {
  // background: purple;
  // right: 100px;
}

.bm-menu {
  background-color: $dark_grey;
}

.bm-burger-button {
  // left: 0;
  // right: 36px;
}

.bm-item-list {
  a {
    color: $yellow;

    &:hover {
      color: $white;
    }
  }
}

.bm-burger-bars {
  background-color: $yellow;
}

.page {
  min-height: 100vh;
  padding-top: 5rem;
}

.overflow-hidden {
  overflow: hidden;
}
