$blue: #3a57b9;
$grey: #b3aa99;
$dark_grey: #43464e;
$white: #dadada;
$yellow: #d4af37;

$card_link_color: $blue; // TODO: separate color for links
$card_link_color__hover: #22346f; // TODO: separate color for links
$card_header_color: $dark_grey;
$card_text_color: $dark_grey;

$header_height: 6rem;
$footer_height: 10rem;

// Ljósari grái er #b3aa99
// #00b69d grænblár compliment
// #00806a dekkri græn blár compliment
// #2f4858 fallegri blár
// #175e6a þessi gæti líka verið flottur

// Seinni
// Yellow #d4af37
// Dark #4d4637
// Light #b3aa99
// Compliment
// Light #00cfae
// Dekkri #00967a

// Getalíkagengið
// #2f4858
// #oc6370
